<main>
    <section class="banners">
        <div class="container">
            <div class="banners-wrapper">
                <div class="banner-item banner1" data-photo="img/user2.jpg" data-name="James Gunn">
                    <img src="img/banner1.jpg" alt="">
                    <a href="#" class="banner-watch-btn">Watch now</a>
                    <div class="rating-row">
                        <div class="left-side">
                            <div class="rating-item">Pablished <span>Feb 20, 2014</span></div>
                            <div class="rating-item">Updated <span>Feb 20, 2014</span></div>
                            <div class="rating-item">Rating <div class="rating"></div></div>
                        </div>
                        <div class="right-side">
                            <div class="rating-item likes">2,548</div>
                            <div class="rating-item comments">21</div>
                            <div class="rating-item downloads">564</div>
                        </div>
                    </div>
                </div>
                <!--end banner-item-->
                <div class="banner-item banner2" data-photo="img/user3.jpg" data-name="Anthony Russo">
                    <img src="img/banner2.jpg" alt="">
                    <a href="#" class="banner-watch-btn">Watch now</a>
                    <div class="rating-row">
                        <div class="left-side">
                            <div class="rating-item">Pablished <span>Feb 20, 2014</span></div>
                            <div class="rating-item">Updated <span>Feb 20, 2014</span></div>
                            <div class="rating-item">Rating <div class="rating"></div></div>
                        </div>
                        <div class="right-side">
                            <div class="rating-item likes">2,548</div>
                            <div class="rating-item comments">21</div>
                            <div class="rating-item downloads">564</div>
                        </div>
                    </div>
                </div>
                <!--end banner-item-->
                <div class="banner-item banner3" data-photo="img/user4.jpg" data-name="Shane Black">
                    <img src="img/banner3.jpg" alt="">
                    <a href="#" class="banner-watch-btn">Watch now</a>
                    <div class="rating-row">
                        <div class="left-side">
                            <div class="rating-item">Pablished <span>Feb 20, 2014</span></div>
                            <div class="rating-item">Updated <span>Feb 20, 2014</span></div>
                            <div class="rating-item">Rating <div class="rating"></div></div>
                        </div>
                        <div class="right-side">
                            <div class="rating-item likes">2,548</div>
                            <div class="rating-item comments">21</div>
                            <div class="rating-item downloads">564</div>
                        </div>
                    </div>
                </div>
                <!--end banner-item-->
                <div class="banner-item banner4" data-photo="img/user5.jpg" data-name="Marc Preston Webb">
                    <img src="img/banner4.jpg" alt="">
                    <a href="#" class="banner-watch-btn">Watch now</a>
                    <div class="rating-row">
                        <div class="left-side">
                            <div class="rating-item">Pablished <span>Feb 20, 2014</span></div>
                            <div class="rating-item">Updated <span>Feb 20, 2014</span></div>
                            <div class="rating-item">Rating <div class="rating"></div></div>
                        </div>
                        <div class="right-side">
                            <div class="rating-item likes">2,548</div>
                            <div class="rating-item comments">21</div>
                            <div class="rating-item downloads">564</div>
                        </div>
                    </div>
                </div>
                <!--end banner-item-->
            </div>
            <!--end banners-wrapper-->
        </div>
    </section>
    <section class="movies">
        <div class="container">

            <div class="movies-wrapper">
                <div class="movie-item">
                    <div class="movie-item-bg">
                        <img src="img/bg1.jpg" alt="">
                    </div>
                    <div class="download-btn"><span class="icon icon-3"></span></div>
                    <div class="movie-item-header">                        
                        <div class="rating-item likes">3,542</div>                        
                    </div>
                    <div class="movie-item-name">Guardians of the Galaxy</div>
                </div>
                <!--end movie-item-->

                <div class="movie-item vertical">

                    <div class="movie-item-info">
                        <div class="play-btn">
                            <span class="icon icon-5"></span>
                        </div>
                        <div class="rating-item likes">2,548</div>
                        <div class="rating-item comments">21</div>
                        <div class="rating-item downloads">564</div>
                        <div class="rating-item">Rating <div class="rating"></div></div>
                        <div class="rating-item">Release Date <span>May 03, 2014</span></div>
                    </div>

                    <div class="movie-item-view">
                        <div class="movie-item-bg">
                        <img src="img/bg6.jpg" alt="">
                    </div>
                    <div class="movie-item-header">                        
                        <div class="rating-item likes">3,542</div>                        
                    </div>
                    <div class="movie-item-name">Guardians of the Galaxy</div>
                    </div>
                </div>
                <!--end movie-item-->

                <div class="movie-item">
                    <div class="movie-item-bg">
                        <img src="img/bg2.jpg" alt="">
                    </div>
                    <div class="download-btn"><span class="icon icon-3"></span></div>
                    <div class="movie-item-header">                        
                        <div class="rating-item likes">3,542</div>                        
                    </div>
                    <div class="movie-item-name">Guardians of the Galaxy</div>
                </div>
                <!--end movie-item-->

                <div class="movie-item">
                    <div class="movie-item-bg">
                        <img src="img/bg3.jpg" alt="">
                    </div>
                    <div class="download-btn"><span class="icon icon-3"></span></div>
                    <div class="movie-item-header">                        
                        <div class="rating-item likes">3,542</div>                        
                    </div>
                    <div class="movie-item-name">Guardians of the Galaxy</div>
                </div>
                <!--end movie-item-->

                <div class="movie-item">
                    <div class="movie-item-bg">
                        <img src="img/bg4.jpg" alt="">
                    </div>
                    <div class="download-btn"><span class="icon icon-3"></span></div>
                    <div class="movie-item-header">                        
                        <div class="rating-item likes">3,542</div>                        
                    </div>
                    <div class="movie-item-name">Guardians of the Galaxy</div>
                </div>
                <!--end movie-item-->
                <div class="movie-item">
                    <div class="movie-item-bg">
                        <img src="img/bg5.jpg" alt="">
                    </div>
                    <div class="download-btn"><span class="icon icon-3"></span></div>
                    <div class="movie-item-header">
                        <div class="rating-item likes">3,542</div>
                    </div>
                    <div class="movie-item-name">Guardians of the Galaxy</div>
                </div>
                <!--end movie-item-->

                <div class="movie-item video-item">
                    <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="-vj0_mMCVdE"></div>
                </div>
                <!--end movie-item-->

                <div class="movie-item vertical">

                    <div class="movie-item-info">
                        <div class="play-btn">
                            <span class="icon icon-5"></span>
                        </div>
                        <div class="rating-item likes">2,548</div>
                        <div class="rating-item comments">21</div>
                        <div class="rating-item downloads">564</div>
                        <div class="rating-item">Rating <div class="rating"></div></div>
                        <div class="rating-item">Release Date <span>May 03, 2014</span></div>
                    </div>

                    <div class="movie-item-view">
                        <div class="movie-item-bg">
                            <img src="img/bg10.jpg" alt="">
                        </div>
                        <div class="movie-item-header">
                            <div class="rating-item likes">3,542</div>
                        </div>
                        <div class="movie-item-name">Guardians of the Galaxy</div>
                    </div>
                </div>
                <!--end movie-item-->


            </div>
            <!--end movies-wrapper-->
        </div>
    </section>
</main>